*,
*::before,
*::after {
    box-sizing: border-box;
}

/*includes everything (padding and content etc) into width and height*/

/* stuff for body*/
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
    overflow: hidden;
}

#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}


/* Keeps columns above the map - can still use map */
.main-content {
    position: relative;
    z-index: 2;
    pointer-events: none;
    /* can still click map - not under columns */
}

.uav-column {
    position: fixed;
    top: 2vh;
    left: 4vw;
    width: 20%;
    height: 96vh;

    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

    padding: 15px;
    overflow-y: auto;
    pointer-events: auto;
    /* allows it to be interactive */
}

.route-column {
    position: fixed;
    top: 2vh;
    right: 4vw;
    width: 20%;
    height: 96vh;

    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);

    padding: 15px;
    overflow-y: auto;
    pointer-events: auto;
}


.uav-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.2s ease;
    /*how long the transform takes - small magnification thingy*/
}

.uav-card:hover {
    transform: scale(1.04);
}

.add-drone-btn {
    width: 85%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.add-drone-btn:hover {
    background-color: #0056b3;
}

.routeButton {

    transition: background-color 0.2s ease;
}

.routeButton:hover {
    background-color: #0056b3;
}